*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    width: 80%;
    max-width: 800px;
    margin: auto;
    position: relative;
    margin-top: 5rem;
    .slides{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .controls{
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & i{
            background-color: #cccccc;
            border-radius: 50%;
            padding: 0.1rem;
        }
    }
}
img{
    height: 500px;
    aspect-ratio: 3/2;
    object-fit: cover;
}
img:not(.active){
    display: none;
}